h1{
    color: darkblue;
    padding: 5px;
}
img{
    border: 4px solid darkblue;
    border-radius: 50px;
    
}
#w{
    width: 900
}
#new{
    font-size: 18
}
#wer{
    font-size: 18
}