h1{
    color: darkblue;
    padding: 5px;
}
img{
    border-radius: 50px;
}
#w{
    width: 1980
}
#new{
    font-size: 18
}
#wer{
    font-size: 18
}
#cyber{
    text-align: center
}
#image_android{
    text-align: center
    display: block;
    margin-left: auto;
    margin-right: auto
}
